# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements
.venv/
venv/
env/
pyvenv.cfg

# Streamlit secrets
.streamlit/secrets.toml
.secret.toml
secrets.toml

# Données lourdes / temporaires
data/imdb/out/principals_filtered_tmp.csv
data/imdb/out/**/*.csv

# OS
.DS_Store
Thumbs.db

# Logs
*.log
